image-crop { display: block; }
image-crop._nesw { cursor: nesw-resize; }
image-crop._nwse { cursor: nwse-resize; }
image-crop._nesw ._crop-box,
image-crop._nwse ._crop-box {
  cursor: inherit;
}
image-crop[loaded] ._crop-image { display: block; }
image-crop[loaded] [data-loading-slot],
image-crop ._crop-image {
  display: none;
}
image-crop ._crop-wrapper {
  position: relative;
  font-size: 0;
}
image-crop ._crop-container {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
}
image-crop ._crop-box {
  position: absolute;
  border: 1px dashed #fff;
  box-sizing: border-box;
  cursor: move;
}
image-crop ._crop-outline {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 600px solid rgba(0, 0, 0, .3);
}
image-crop ._handle { position: absolute; }
image-crop ._handle:before {
  position: absolute;
  display: block;
  padding: 4px;
  transform: translate(-50%, -50%);
  content: ' ';
  background: #fff;
  border: 1px solid #767676;
}
image-crop ._ne { top: 0; right: 0; cursor: nesw-resize; }
image-crop ._nw { top: 0; left: 0; cursor: nwse-resize; }
image-crop ._se { bottom: 0; right: 0; cursor: nwse-resize; }
image-crop ._sw { bottom: 0; left: 0; cursor: nesw-resize; }
